:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #101010;

  justify-content: center;
  text-align: center;

  /* for more natively UI */
  cursor: default;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Disable select elements */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1 {
  text-align: center;
}

img {
  width: 95vw;
}

.fade-in {
  animation-name: animation-fade-in;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes animation-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
